<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
  <div class="navbar-expand ml-auto navbar-text">
    Made <i class="fas fa-theater-masks"></i> by <a href="https://github.com/aj-bhagat">Aj_Bhagat</a>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://github.com/aj-bhagat" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a class="nav-item nav-link" href="https://twitter.com" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
          <i class="fa fa-google"></i>
        </a>
      </div>
    </div>  
</nav>
