<div class="container marketing">
  <div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle" src="http://localhost:4200/assets/shirt.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Shirt</h2>
      <p>John Player</p>
      <p><a class="btn btn-secondary" href="#" role="button">Add To Cart &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="http://localhost:4200/assets/shirt.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Polo T-Shirt</h2>
      <p>Levis</p>
      <p><a class="btn btn-secondary" href="#" role="button">Add To Cart &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="http://localhost:4200/assets/shirt.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Bottom Wear</h2>
      <p>Peter England</p>
      <p><a class="btn btn-secondary" href="#" role="button">Add To Cart &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
  <div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle" src="http://localhost:4200/assets/shirt.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Shirt</h2>
      <p>John Player</p>
      <p><a class="btn btn-secondary" href="#" role="button">Add To Cart &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="http://localhost:4200/assets/shirt.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Polo T-Shirt</h2>
      <p>Levis</p>
      <p><a class="btn btn-secondary" href="#" role="button">Add To Cart &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="http://localhost:4200/assets/shirt.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Bottom Wear</h2>
      <p>Peter England</p>
      <p><a class="btn btn-secondary" href="#" role="button">Add To Cart &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>
